{% extends 'costcalculator/base.html' %}

{% block form %}
  <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
    <label class="btn btn-light w-100">
      <input type="radio" name="options" id="option1" autocomplete="off"> Use Addresses
    </label>
    <label class="btn btn-light active w-100">
      <input type="radio" name="options" id="option2" autocomplete="off" checked> Use Distance
    </label>
  </div>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="card">
      <div class="card-header"> Distance in Miles</div>
      <div class="card-body">
        {{ distance.distance.as_widget }}
      </div>
    </div>
    <div class="card">
      <div class="card-header"> Gas Price per Gallon</div>
      <div class="card-body">
        {{ gas_price.gas_price.as_widget }}
      </div>
    </div>
    <div class="card">
      <div class="card-header"> Vehicle's MPG</div>
      <div class="card-body">
        {{ mpg.mpg.as_widget }}
      </div>
    </div>
    <div class="card">
      <div class="card-header">Number of People Cost is Split Among</div>
      <div class="card-body">
        {{ num_people.num_people.as_widget }}
      </div>
    </div>
    <input class="btn btn-primary w-100 my-1" type="submit" value="Calculate" />
  </form>
{% endblock %}
